<form>
    <div class="control">
        <label>
            Game Width
            <input id="game-width" name="gameWidth" type="number" value="{{gameWidth}}" required>
        </label>
    </div>

    <div class="control">
        <label>
            Game Height
            <input id="game-height" name="gameHeight" type="number" value="{{gameHeight}}" required>
        </label>
    </div>

    <div class="control">
        <label>
            Tags
            <select id="game-tags" name="tags" multiple>
                {{#each tags}}
                <option class="game-tag" value="{{id}}"
                {{#if selected}} selected{{/if}}>{{id}}</option>
                {{/each}}
            </select>
        </label>
    </div>

    <button class="btn submit" type="submit">Close</button>
</form>