.tile .thumbnail {
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
	box-shadow: 3px 3px 15px rgba(92,92,92,0.1);

}

.selected {
	background-color: #e5e5e5;
}

.playarea {
	width: 570px;
	padding: 20px;
}